<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis albumes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="getUserSessions($event)">
    <ion-refresher-content
      pullingText="Desliza para refrescar"
      refreshingSpinner="circles"
      refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Add a list to display photo sessions -->
  <ion-list *ngIf="sessions.length > 0">
    <ion-item *ngFor="let session of sessions">
      <ion-label>
        <h2>{{ session.photographer.name }} {{ session.photographer.lastName }}</h2>
        <p>{{ session.date }}</p>
      </ion-label>      
    </ion-item>
  </ion-list>
  <div class="label-message" *ngIf="sessions.length === 0">
    <h2>No tienes albumes</h2>
    <p>Pide a tu fotografo asignarte un album y proporcionarte un codigo de acceso</p>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" style="padding: 10px;">
    <ion-fab-button id="open-code-form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- Modal -->
  <ion-modal
    trigger="open-code-form"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0.25, 0.5, 0.75, 1]"
    handleBehavior="cycle">
    <ng-template>
      <ion-content class="ion-padding">
        <div class="ion-padding-top">
          <ion-input
            type="number"
            label="Codigo de acceso"
            labelPlacement="floating"
            placeholder="Ingrese el codigo de 6 digitos"
            [(ngModel)]="accessCode"
            name="accessCode"
            maxlength="6"
            style="text-align: center;"
            (input)="validateAccesCode($event)">
          </ion-input>
          <ion-button
            expand="block"
            (click)="onAccessCodeSubmit()"
            [disabled]="!accessCode">
            Enviar
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-alert
    [isOpen]="alertOpen"
    header="Error"
    [message]="message"
    [buttons]="['OK']"
    (didDismiss)="alertOpen = false"
  ></ion-alert>  
</ion-content>
